.message-error {
    padding: 20px;
    margin: 1rem 0;
    color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
  }

.message-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
} 